[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
[submodule "simdjson"]
	path = simdjson
	url = https://github.com/simdjson/simdjson.git
[submodule "tracy"]
	path = tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "loguru"]
	path = loguru
	url = https://github.com/emilk/loguru.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git